.grafic {
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 12rem;
  }